<div class="col-sm-2">
  <div class="card">
    <div class="card-header">
      <div>
        <i class="fas fa-microphone-alt"></i>
        <%= track.artists[0].name  %>
      </div>
    </div>
    <% if track.album.images[0].present? %>
      <%= image_tag track.album.images[0]["url"], alt: track.name, class: 'card-img-top' %>
    <% else %>
      <%= image_tag "spotify-home.jpg", class: 'card-img-top' %>
    <% end %>
    <div class="card-body">
      <h7 class="card-title"><%= @number_count += 1 %>.  <span><%= track.name %></span></h7>
      <br>
      <h8 class="card-title"><i class="fas fa-fire text-center"></i>  <span><%= track&.popularity %>/100</span></h8>
    </div>
  </div>
  <br>
</div>
