<style type="text/css">
  body {
  background-color: #191414;
}

.container {
  text-align: center;
  color: white;
  font-weight: bold;
}

.track-style {
  font-size: 30px;
  word-wrap: break-word;
}

.artist-style {
  font-size: 20px;
  word-wrap: break-word;
  color: #1ED760;
}
</style>


<div class="container">
  <br>
  <p><%= image_tag wicked_pdf_asset_base64('spotify.png'), size: "150x150" %></p>
  <h1> <%= t('top_artists') %> | <%= @time_period %></h1>
  <h1 style="color: #1ED760;">StreamStatz.com</h1>
  <br>
  <% if @artists.first.images[0].present? %>
    <%= image_tag @artists.first.images[0]['url'], alt: @artists.first.name, size: "300x300"  %>
  <% else %>
    <%= image_tag wicked_pdf_asset_base64('spotify-home.jpg'), size: "300x300" %>
  <% end %>
  <br>
  <br>
  <% @artists.take(10).each do | artist | %>
    <div class="track-style"><%= artist.name %></div>
    <br>
  <% end %>
  <br>
  <div class="track-style"><%= t('pages.home.page_header') %> @ <span style="color: #1ED760;">StreamStatz.com</span></div>

</div>
