<% content_for :head do %>
  <%= display_meta_tags site: "Spotify #{t('top_artists')}" %>
  <meta name="description" content= "<%= t('.artists_meta_description') %>" >
<% end %>

<br>
<div class="container">
  <br>
   <h2 class="lead"><%= t('.your_top_artists') %></h3>
  <p class="d-none d-md-block"> <%= t('spotify_users.emoji') %> <i class="fas fa-fire"></i> <%= t('.artists_popularity') %></p>
  <%= render partial: "spotify_users/partials/tabs" %>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="last-month" role="tabpanel" aria-labelledby="last-month-tab">
      <div class="row">
        <br>
        <%= link_to create_artists_pdf_path(:time_period=> 'short_term', format: :pdf) do %>
          <span><i class="fas fa-camera"></i> Share</span>
        <% end %>
        <br>
        <br>
        <% @top_artists_short_term.each do | artist | %>
          <%= render partial: "spotify_users/partials/top_artists", locals: {artist: artist} %>
        <% end %>
      </div>
    </div>
    <% @number_count = 0 %>
    <div class="tab-pane fade" id="half-year" role="tabpanel" aria-labelledby="half-year-tab">
      <div class="row">
        <br>
        <%= link_to create_artists_pdf_path(:time_period=> 'medium_term', format: :pdf) do %>
          <span><i class="fas fa-camera"></i> Share</span>
        <% end %>
        <br>
        <br>
        <% @top_artists_medium_term.each do | artist | %>
          <%= render partial: "spotify_users/partials/top_artists", locals: {artist: artist} %>
        <% end %>
      </div>
    </div>
    <% @number_count = 0 %>
    <div class="tab-pane fade" id="all-time" role="tabpanel" aria-labelledby="all-time-tab">
      <div class="row">
        <br>
        <%= link_to create_artists_pdf_path(:time_period=> 'long_term', format: :pdf) do %>
          <span><i class="fas fa-camera"></i> Share</span>
        <% end %>
        <br>
        <br>
        <% @top_artists_long_term.each do | artist | %>
          <%= render partial: "spotify_users/partials/top_artists", locals: {artist: artist} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
