<br>
<div class="container">
  <br>
  <h2 class="lead"><%= t('.recently_played') %></h3>
  <p class="d-none d-md-block"> <%= t('spotify_users.emoji') %> <i class="fas fa-fire"></i> <%= t('spotify_users.track_popularity') %></p>

  <div class="row">
    <% @recently_played.each do | recently |  %>
      <div class="col-sm-2">
        <div class="card">
          <div class="card-header">
            <div>
              <i class="fas fa-microphone-alt"></i>
              <%= recently.artists.first.name %>
            </div>
          </div>
          <% if recently.album.images[0].present? %>
            <%= image_tag recently.album.images[0]["url"], alt: recently.name, class: 'card-img-top' %>
          <% else %>
            <%= image_tag "spotify-home.jpg", class: 'card-img-top' %>
          <% end %>
          <div class="card-body">
            <h7 class="card-title"><%= @number_count += 1 %>.  <span><%= recently.name %></span></h7>
            <br>
            <h8 class="card-title"><i class="fas fa-fire text-center"></i>  <span><%= recently&.popularity %>/100</span></h8>
            <div>
              <% spotify_time = recently.played_at.split('T') %>
              <% played_date = spotify_time.first %>
              <% played_time_full = spotify_time.last.split(':') %>
              <% played_time = played_time_full.first + ':' + played_time_full.second %>
              <h8 class="card-title"><i class="fas fa-clock text-center"></i>  <span><%= played_date %>, <%= played_time %></span></h8>
            </div>
          </div>
        </div>
        <br>
      </div>
    <% end %>
  </div>
</div>
