
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <span style="color: #1ED760;">STREAMSTATZ</span>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% nav_options = {"top_tracks": spotify_top_tracks_path, "top_artists": spotify_top_artists_path, "recently_played": spotify_recently_played_path, "favorite_genres": spotify_user_genres_path} %>
        <% if user_signed_in? %>
          <% nav_options.each do | key, value | %>
            <li class="nav-item">
              <%= link_to t(key), value, class: "nav-link" %>
            </li>
          <% end %>
        <% else %>
          <% nav_options.each do | key, value | %>
            <li class="nav-item' %>">
              <%= link_to t(key), '/auth/spotify', class: "nav-link" %>
            </li>
          <% end %>
        <% end %>
        <span class="dropdown navbar-text">
        <a class="dropdown-toggle" href="#" id="dropdownMenuButton1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          🌐<%= I18n.locale.upcase %>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><%= link_to "English", { :locale=>'en' }, class: "dropdown-item" %></li>
          <li><%= link_to "Français", { :locale=>'fr' }, class: "dropdown-item" %></li>
          <li><%= link_to "Español", { :locale=>'es' }, class: "dropdown-item" %></li>
        </ul>
      </span>
      </ul>
      <span class="navbar-text">
        <% if user_signed_in? %>
          <%= link_to t('logout'), destroy_user_session_path, method: 'delete' %>
        <% else %>
          <%= link_to "/auth/spotify" do %>
            <span class="navbar-text"><%= image_tag "spotify.png", size: "20x20" %> <%= t('login') %></span>
          <% end %>
        <% end %>
      </span>
    </div>
  </div>
</nav>


