<br>
<main role="main">

  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3"><%= t('.page_header') %></h1>
      <p><%= t('.page_description') %></p>
      <ul>
        <li><%= t('.last_month') %> 🎶</li>
        <li><%= t('.last_6_months') %> 🔥</li>
        <li><%= t('.all_time') %> ⭐️</li>
      </ul>
      <p><%= link_to t('.spotify_login'), "/auth/spotify", class:"btn btn-success btn-lg"%></p>
    </div>
  </div>

      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
        <!-- START THE FEATURETTES -->


  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading"><%= t('.spotify_text_1') %> <span class="text-muted"><%= t('.spotify_text_2') %> 💯</span></h2>
      <p class="lead"><%= t('.spotify_text_3') %>.</p>
      <p class="lead"><%= t('.spotify_text_4') %>.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag "spotify-home.jpg", class: "featurette-image img-fluid mx-auto", alt: "streamstatz-spotify-logo"%>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading"><%= t('.spotify_text_5') %>. <span class="text-muted"><%= t('.spotify_text_6') %></span></h2>
      <p class="lead"><%= t('.spotify_text_7') %>.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <%= image_tag "claus-grunstaudl-dKeB0-M9iiA-unsplash.jpg", class: "featurette-image img-fluid mx-auto", alt: "StreamStatz-mic"%>
    </div>
  </div>

  <hr class="featurette-divider">

  </div><!-- /.container -->
