<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Z7H425W9ZP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-Z7H425W9ZP');
    </script>

    <meta name="purpleads-verification" content="6c1ec4ae8dbc3d05d39647f0"/>
    <title>Spotify Statistics | StreamStatz</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="description" content= "<%= t('meta_description') %>" >
    <meta name="keywords" content="<%= t('meta_keywords') %>">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= wicked_pdf_stylesheet_pack_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= wicked_pdf_javascript_pack_tag %>

    <%= favicon_link_tag asset_path('favicon.png') %>

    <link rel="alternate" hreflang="en" href="/" />
    <link rel="alternate" hreflang="fr" href="/fr" />
    <link rel="alternate" hreflang="es" href="/es" />

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <table class="layout-table">
      <tr class="layout-content-row">
        <td class="layout-content-column">
          <div><script src="https://cdn.purpleads.io/agent.js?publisherId=1fec0d128f4e2fb293dd8c5e369ba9b3:380ad64cc1bfebd7e3cffc643c919f4dddbddc3fe9ab72434b4099e4005c0cb522785dc3804e96b1c95a6f16cda8c32037086bbb0c74baf67dcc87e6952f6208" data-pa-tag async></script></div>
          <%= yield %>
        </td>
      </tr>
      <tr>
        <td>
          <div><script src="https://cdn.purpleads.io/agent.js?publisherId=1fec0d128f4e2fb293dd8c5e369ba9b3:380ad64cc1bfebd7e3cffc643c919f4dddbddc3fe9ab72434b4099e4005c0cb522785dc3804e96b1c95a6f16cda8c32037086bbb0c74baf67dcc87e6952f6208" data-pa-tag async></script></div>
          <%= render 'shared/footer' %>
        </td>
      </tr>
    </table>
  </body>
</html>
